CONFIG_X86_NATIVE_CPU=y
CONFIG_HZ_1000=y
CONFIG_HZ=1000
CONFIG_PREEMPT=y
CONFIG_RCU_EXPERT=y
CONFIG_RCU_BOOST=y
CONFIG_RCU_BOOST_DELAY=500
CONFIG_SCHED_SMT=y
CONFIG_SCHED_MC=y
CONFIG_SCHED_HRTICK=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE=y
CONFIG_DEFAULT_MMAP_MIN_ADDR=65536
CONFIG_LOCALVERSION="-5800x3dv9070xt"
